### --- database
DB_NAME=auth_engineer_challenge
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=bluetooth
DB_PASSWORD=gangsta
DB_DRIVER=postgresql+asyncpg

### --- application
APP_HOST=0.0.0.0
APP_PORT=8000

### --- jwt
JWT_SECRET=dev-secret-key-with-at-least-32-bytes
JWT_ALGORITHM=HS256
JWT_LIFESPAN_MINUTES=30

### --- password reset
RESET_TOKEN_LIFESPAN_MINUTES=15
RESET_TOKEN_COOLDOWN_SECONDS=60

# желательно скопировать эти энвы как есть,
# а то все может поломаться пока я не дочиню баг